<!-- <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="75">
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
            <mat-form-field class="input-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Ex. Username21" formControlName="username" class="form-control">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button type="submit" class="mt-5" color="primary">Login</button>
        </form>
    </mat-card>
</div> -->

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="formGroup" (ngSubmit)="loginProcess()">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in</p>
          </div> <br>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="login-username" formControlName="username" class="form-control form-control-lg"
              placeholder="Enter a valid email address" />
            <label class="form-label" for="username">Username</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="login-password" class="form-control form-control-lg"
              placeholder="Enter password" formControlName="password">
            <label class="form-label" for="password">Password</label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button mat-raised-button type="submit" class="btn btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" color="primary" >Login</button>
            <h3 class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register"
                class="link-danger">Register</a></h3>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
