<h2>User Profile</h2>
<!--
<div class="profile-image"></div>
<mat-card *ngIf="user" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
      <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
      <mat-card-subtitle>{{user.phoneNumber}}</mat-card-subtitle>
      <mat-card-subtitle>{{user.aboutMe}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>   
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>contact details page - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div>
<div *ngIf="user">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Contact"></div>
                <h3 class="m0 text-bold">{{user.firstName}} {{user.lastName}}</h3>
                <div class="mv-lg">
                    <p>{{user.aboutMe}}</p>
                    <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
                </div>
                <div class="text-center"><a class="btn btn-primary" href="">Update</a></div>
            </div>
        </div>
        <div class="panel panel-default hidden-xs hidden-sm">
            <div class="panel-heading">
                <div class="panel-title text-center">Basic Information</div>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="https://cdn-icons-png.flaticon.com/128/2947/2947698.png" alt="Contact"></a>
                    </div>
                    <div class="media-body pt-sm">
                        <div class="text-bold">Country
                            <div class="text-sm text-muted">{{user.state}}</div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="https://cdn4.iconfinder.com/data/icons/gradient-circle-blue/36/2025-512.png" alt="Contact"></a>
                    </div>
                    <div class="media-body pt-sm">
                        <div class="text-bold">State
                            <div class="text-sm text-muted">{{user.state}}</div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="https://images.all-free-download.com/images/graphiclarge/email_icon_6843322.jpg" alt="Contact"></a>
                    </div>
                    <div class="media-body pt-sm">
                        <div class="text-bold">Email
                            <div class="text-sm text-muted">{{user.email}}</div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="https://www.pngitem.com/pimgs/m/20-202269_phone-number-telephone-svg-png-icon-free-download.png" alt="Contact"></a>
                    </div>
                    <div class="media-body pt-sm">
                        <div class="text-bold">Phone number
                            <div class="text-sm text-muted">{{user.phoneNumber}}</div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="https://image.flaticon.com/icons/png/512/307/307629.png" alt="Contact"></a>
                    </div>
                    <div class="media-body pt-sm">
                        <div class="text-bold">Date of Birth
                            <div class="text-sm text-muted">{{user.dob}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="pull-right">
                   
                </div>
                <div class="h4 text-center">My Posts</div>
                <div class="row pv-lg">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        
                        <div class="col-sm-12">
                            <div class="panel panel-white post">
                                <div class="post-heading">
                                    <div class="pull-left image">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle avatar" alt="user profile image">
                                    </div>
                                    <div class="pull-left meta">
                                        <div class="title h5">
                                            <a href="#"><b>{{user.firstName}}{{user.lastName}}</b></a>
                                            
                                        </div>
                                        <h6 class="text-muted time">{{user.posts[0].created}}</h6>
                                    </div>
                                </div>

                                <div *ngif="img" class="post-image">
                                    <img src=""><img src="https://via.placeholder.com/400x200" class="image" alt="image post">
                                </div>

                                <div class="post-description">
                                    <h4>{{user.posts[0].title}}</h4>
                                    <p>{{user.posts[0].body}}.</p>
                                    <div class="stats">
                                        <a href="javascript:void(0);" class="btn btn-default stat-item">
                                            <i class="fa fa-thumbs-up icon"></i>228
                                        </a>
                                        <a href="javascript:void(0);" class="btn btn-default stat-item">
                                            <i class="fa fa-share icon"></i>128
                                        </a>
                                    </div>
                                </div>
                                <div class="post-footer">
                                    <div class="input-group"> 
                                        <input class="form-control" placeholder="Add a comment" type="text">
                                        <span class="input-group-addon">
                                            <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>  
                                        </span>
                                    </div>
                                    <ul class="comments-list">
                                        <li class="comment">
                                            <a class="pull-left" href="javascript:void(0);">
                                                <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                                            </a>
                                            <div class="comment-body">
                                                <div class="comment-heading">
                                                    <h4 class="user">John dOE</h4>
                                                    <h5 class="time">7 minutes ago</h5>
                                                </div>
                                                <p>{{user.posts[0].comments[0].commentBody}} .</p>
                                            </div>
                                        </li>
                                        <li class="comment">
                                            <a class="pull-left" href="javascript:void(0);">
                                                <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                            </a>
                                            <div class="comment-body">
                                                <div class="comment-heading">
                                                    <h4 class="user">John Doe</h4>
                                                    <h5 class="time">3 minutes ago</h5>
                                                </div>
                                                <p>I think I might you this for one of my projects.</p>
                                            </div>
                                        </li>
                                        <li class="comment">
                                            <a class="pull-left" href="javascript:void(0);">
                                                <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="avatar">
                                            </a>
                                            <div class="comment-body">
                                                <div class="comment-heading">
                                                    <h4 class="user">John Doe</h4>
                                                    <h5 class="time">10 seconds ago</h5>
                                                </div>
                                                <p>Wow! This is gorgeous.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<style type="text/css">

.panel.panel-default {
    border-top-width: 3px;
}
.panel {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
    border: 0;
    border-radius: 4px;
    margin-bottom: 16px;
}
.thumb96 {
    width: 96px!important;
    height: 96px!important;
}
.thumb48 {
    width: 48px!important;
    height: 48px!important;
}
</style>

<script type="text/javascript">

</script>
</body>
</html>
