<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon><span class="nav-caption"></span>
    </a>
    <a mat-list-item routerLink="/users" (click)="onSidenavClose()">
        Users<span class="nav-caption"></span>
    </a>
    <a mat-list-item routerLink="/profile" (click)="onSidenavClose()">
        Profile<span class="nav-caption"></span>
    </a>
    <a mat-list-item routerLink="/explore" (click)="onSidenavClose()">
        Explore<span class="nav-caption"></span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onSidenavClose()">
        Login<span class="nav-caption"></span>
    </a>
    <a mat-list-item routerLink="/register" (click)="onSidenavClose()">
        Register<span class="nav-caption"></span>
    </a>
</mat-nav-list>